/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .keyboard {
   margin-left: auto;
   margin-right: auto;
   width: 50em;
   background-color: rgba(147, 147, 147, 1);
   border-radius: 10px;
   padding: 10px 10px 10px 10px;
   -webkit-box-shadow: 13px 11px 41px 8px rgba(0,0,0,0.75);
   -moz-box-shadow: 13px 11px 41px 8px rgba(0,0,0,0.75);
   box-shadow: 13px 11px 41px 8px rgba(0,0,0,0.75);
 }

div.recording {
  position: relative;
  left: 0.75em;
}

button {
  height: 4em;
  width: 4em;
  background-color: black;
  padding-right: 1em;
  color: #FAEBD7;
  margin-left: auto;
  margin-right: 0.5em;
  border-radius: 4px;
  box-shadow: 1px 1px 2px #000000;
  font-family: "VAGRoundedLight";
}

button:first-child {
  width: 5em;
}

button > p {
  position: relative;
  top: 1em;
  right: 0.35em;
}

 .key {
  height: 6em;
  width: 4em;
  display: inline-block;
  border-radius: 15px;
  text-align:center;
  box-shadow: 2px 2px 5px #000000;
  margin-left: 10px;
  position: relative;
  margin-bottom: 7px;
}
.key > p {
  color: #FAEBD7;
}

.note {
 font-family: "VAGRoundedLight";
 color: rgb(124, 124, 124);
}

.qwertyKey {
 background-color: black;
 display: table;
 color: #FAEBD7;
 width: 45px;
 height: 45px;
 margin-left: auto;
 margin-right: auto;
 border-radius: 4px;
 box-shadow: 1px 1px 2px #000000;
 top: 60%;
 left: 50%;
 position: absolute;
 transform: translate(-50%, -50%);
}

.qwertyKey > p {
 font-family: "VAGRoundedLight";
 display: table-cell;
 text-align: center;
 vertical-align: middle;
}

.bottom-row {
  position: relative;
  left: 1.5em
}

.top-row {
  position: relative;
  left: 0.5em
}

.home-row{
  position: relative;
  left: 1em;
}

.brand {
  position: relative;
  width: 14em;
  margin-left: auto;
  margin-right: auto;
}

.brand > img {
  width: 225px;
}

@font-face {
  font-family: 'VAGRoundedLight';
  src:url('VAG Rounded Light.ttf');
}
