<!DOCTYPE html>
<html>
<head>
  <title>Janki</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="brand">
  <img src="/assets/janki_brand_transparent.png"/>
</div>

<%= yield %>

</body>
</html>
